@font-face {
  font-family: 'markMyWords';
  src: url('../public/mark_my_words.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KraftNine';
  src: url('../public/KraftNineDEMO.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo-light';
  src: url('../public/Aleo-Light.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.headline {
  font-family: 'KraftNine',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-size: 60px;
}

.headline2 {
  font-family: 'markMyWords',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-size: 60px;
}

.headline3 {
  font-family: 'aleo-light',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-size: 28px;
  transform: translateY(-17px);
  position: absolute;
}

.headlineHolder{
  background: rgba(255, 255, 255, .7);
  padding: 30px;
  border-radius: 15px;
  border: 3px solid white;
  max-width: 320px;
  text-align: center;
}

.pink{
  color: #e8798c;
}

.blue {
  color: #3eb1c6;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.MuiFormControl-root.MuiFormControl-root {
  min-width: 250px;
  margin: 20px;
}

.message-alt {
  margin-left: 25px;
  margin: 50px 0;
  font-size: 18px;
  background: #eaeaea;
  padding: 10px;
}

.MuiInputBase-inputMultiline.MuiInputBase-inputMultiline {
  min-height: 96px;
}

.MuiInput-input.MuiInput-input {
  width: 250px;
}
